# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
logs/
*.log

# Stable-Baselines3 / RL model artifacts
models/
*.zip

# Large result files
results/videos/
*.mp4
*.gif

# Optional: keep plots and CSVs, but ignore raw huge files
#results/metrics/
#results/plots/
results/analysis_working
*.npy
#*.ipynb

# MuJoCo / temporary
*.tmp

# Those that no longer in use
obselete/
